        <h1>Resetea tu Contraseña</h1>
        <form id="changePasswordForm" method="POST" action="/api/sessions/change-password">
            <input type="hidden" name="token" value="{{token}}" id="token">
            <div>
                <label for="newPassword">Nueva Contraseña:</label>
                <input type="password" id="newPassword" name="newPassword" required>
            </div>
            <button type="submit">Cambiar Contraseña</button>
        </form>
    <script>
            const token = document.getElementById('token').value

            const form = document.getElementById('changePasswordForm')
            form.addEventListener('submit', async function(event) {
            event.preventDefault();

            const newPassword = form.newPassword.value;
            console.log("PASSWROD IS: ", newPassword)
            try{
                const response = await fetch(form.action, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ token, newPassword })
                });

                const data = await response.json();
                if (data.payload) {
                    alert('Password changed successfully!');
                } else {
                    alert('Error: ' + data.error);
                }
            }

            catch(error){
                console.log(error)
            }

         
        });
    </script>
