<h1>
    CHAT
</h1>
<br>
<div id="userEmailDiv"></div>
<br>
<div>
    <input type="text" id="chatBox"/>
    <p id="messagesLog"></p>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>