<h2>Ingrese email para cambiar la contraseña.</h2>

<form action="" id="resetPasswordForm">
    <label for="email">Email</label>
    <input type="text" name="email" />

    <button type="submit">Enviar</button>
</form>


<script>

    const resetPasswordForm = document.getElementById("resetPasswordForm");

    resetPasswordForm.addEventListener('submit',(e)=>{
        e.preventDefault();

        const formData = new FormData(resetPasswordForm);
        let payload = {}
        formData.forEach((value, key)=>payload[key]=value);
        fetch('/api/sessions/reset-password',{
            method: 'POST',
            body: JSON.stringify(payload),
            headers:{
                'Content-Type':'application/json'
            }
        })
    })

</script>